@import "tachyons";

.paragraph-links a:link, .paragraph-links a:visited {
  background-color: transparent;
  box-shadow: inset 0 -.25rem 0 rgba(25, 169, 116, .2);
  color: rgba(25, 169, 116, 1);
  text-decoration: none;
  transition: color .15s ease-in;
  -webkit-text-decoration-skip: objects;
  -webkit-transition: box-shadow .15s ease-in;
}
.paragraph-links a:hover {
  box-shadow: inset 0 -1.5rem 0 rgba(25, 169, 116, .2);
}

.project-timeline--brands::before {
  content: '';
  position: absolute;
  top: 0;
  left: 2rem;
  height: 100%;
  width: .125rem;
  background: #19a974;
  opacity: .25;
  margin-left: -.0625em;
}

.project-timeline-block-brand img {
  box-shadow: 0 0 0 1px rgba(25,169,116,.2);
}

.project-timeline-block-brand img:nth-child(n+2) {
    margin-top: 1rem;
}

.project-timeline-block-brand img:hover {
    z-index: 4;
}
.project-timeline-block-brand h4 {
  text-shadow: 0 1px 0 #f6fffe;
}

@media screen and (min-width: 30em) {
  .project-timeline--brands::before {
    left: 9rem;
  }

  .project-timeline-block-brand {
    left: 4rem;
  }
}
